*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

#clothing-store {
    display: flex;
    width: 100% ;
    height: auto ;

}

.nav-section{
    height: 100vh;
    width: 30%; 
    border: 1px solid orange ;
    
    
}

#nav-bar {
    position: fixed;
    border: 2px solid green;
    height: inherit;
    width: inherit; 
   

    padding-left: 33vh ;
  
}

#nav-heading{
    font-size: 18.3px ;
    letter-spacing: 2px;
    padding: 3vh 0 11.4vh 2.5vh ;
    font-weight: 10px ;
}


#banner {
    flex: 1 ;
    border: 1px solid red;
    display: inline-block;
    height: auto ;
    padding-left: 1.5vh ;
   

}

#banner div{
  overflow: hidden;
}

.nav-content li {
    border: 1px solid white ; 
    font-family: "Roboto", sans-serif;
    list-style-type: none;

}

.navtop-section li{
    font-size: 12.9px;
    color: #757575 ;
    font-weight: bold;
    padding: 1vh 0 1.5vh 2.5vh;

}

.navbottom-section {
    margin: 7.5vh 0 0 0;
    font-size: 10.9px;

}

.navbottom-section li{
    padding: 1vh 0 1.3vh 2.5vh;
}

.nav-content li:hover {
    background-color: #ccc;
}

#skinny {
    background-color: #f1f1f1;
    color: black ;
}

.skinny-icon {
    margin-right: 1.5vh;
}

#dropdown-content {
    display: none;
    margin: 1.4vh 2vh 1.5vh 0;
}


#dropdown-content li {
  padding: unset;
  font-size: 10.9px;
  margin-left: 3vh ;
  padding: 1vh 0 1.2vh 2vh ;
}


#dropdown {
    color: black ;
   
}

#dropdown:hover + #dropdown-content{
    display: block;
    
}


.blank{
    border: 1px solid blue;
    position: fixed;
    height: 100vh;
    width: 16.4%;
    right: 0;
}

.header{
    border: 1px solid red;
    width: 113vh;
    height: 9.8vh; 
   

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-heading{
    font-size: 18px;
    font-weight: lighter ;
    
}

#header-icons i {
    font-size: 18px;
    padding-left: 10px;

}

.headerimg{
    border: 1px solid rgb(0, 255, 42);
    width: 113vh;
    height: auto; 
    position: relative;
}

.headerimg img{
    width: 100% ;
    
}

#img-headings{
    position: absolute;
    color: white ;
    Padding: 5vh 0 0 4vh ;

}

#img-headings h2 {
   font-size: 47px ;
   font-weight: lighter; 

     
}

#img-headings h3 {
    font-size: 26px ;
    font-weight: lighter; 
    padding-top: 3.5vh;
}

#img-headings button {
    background-color: black;
    color: white ;
    margin-top: 3vh;
    border:none ;
    height: 6vh ;
    width: 19vh ;
}

#img-headings button:hover {
    color: black ;
    background-color: #ccc;
    cursor: grab ;
}

.jeanheader{
    border: 1px solid rgb(0, 55, 255);
    width: 113vh;
    height: 46px; 
}

.jeanimg{
    border: 1px solid rgb(255, 145, 0);
    width: 113vh;
    height: 600px; 
}

.subscription{
    border: 1px solid rgb(252, 2, 210);
    width: 113vh;
    height: 240.5px; 
    background-color: black; 
    color: white;  
}

.footerpt1{
    border: 1px solid rgb(95, 95, 95);
    width: 113vh;
    height: 55vh;  

    background-color: #f1f1f1;
    display:flex ;
    
}
.footerpt1 div {
    border: 2px solid orchid ;
    width: 35% ;
    height: 100% ;
}
.footerpt2{
    border: 1px solid rgb(229, 255, 0);
    width: 113vh;
    height: 70px; 
    background-color: black; 
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px !important;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px 24px 0px;
}

.link:hover{
color: white;
background-color: black;
}

.link{
    color: white;
}