*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#clothing-store {
    display: flex;
    width: 100% ;
    height: auto ;

}

.nav-section{
    height: 100vh;
    width: 30%; 
    
}

#nav-bar {
    position: fixed;
    border: 1px solid green;
    height: inherit;
    width: inherit; 
}

#banner {
    flex: 1 ;
    border: 1px solid red;
    display: inline-block;
    height: auto ;
    padding-left: 1.5vh ;

}

.blank{
    border: 1px solid blue;
    position: fixed;
    height: 100vh;
    width: 16.4%;
    right: 0;
}

.header{
    border: 1px solid red;
    width: 113vh;
    height: 7vh; 
}

.headerimg{
    border: 1px solid rgb(0, 255, 42);
    width: 113vh;
    height: 550px; 
}

.jeanheader{
    border: 1px solid rgb(0, 55, 255);
    width: 113vh;
    height: 46px; 
}

.jeanheaderp{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin: 14px;
    color: #757575;
}

.jeanimg{
    border: 1px solid rgb(255, 145, 0);
    width: 113vh;
    height: 600px; 
}

.jean1{
    width: 27.7vh;
    height: 31.5vh; 
    padding-right: 16px;
}

.jean1p{
  font-size: 13px;
  margin: 12px 0px;
  font-family: "Montserrat", sans-serif;
}

.jean2{
    position: absolute;
    width: 27.7vh;
    height: 31.5vh;
    margin-left: 28vh ; 
    margin-top: -39.7vh;
}

.jean2p{
    font-size: 13px;
    margin: 12px 0px;
    font-family: "Montserrat", sans-serif; 
    margin-left: 28vh ;   
    margin-top: -6vh;
}

.subscription{
    border: 1px solid rgb(252, 2, 210);
    width: 113vh;
    height: 240.5px; 
    background-color: black; 
    color: white;  
    padding: 32px 16px;
}

.subh1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 10px 0px;
}

.subp{
    margin: 15px 0px;
}

.email-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.subscribe-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 18vh;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.subscribe-btn:hover {
    color: #000;
    background-color: #ccc;
}

.footerpt1{
    border: 1px solid rgb(95, 95, 95);
    width: 113vh;
    height: 405px;  
}

.footerpt2{
    border: 1px solid rgb(229, 255, 0);
    width: 113vh;
    height: 70px; 
    background-color: black; 
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px 24px 0px;
    line-height: 1.5;
}

.link:hover{
color: gray;
}

.link{
    color: white;
}