*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

#clothing-store {
    display: flex;
    width: 100% ;
    height: auto ;

}

.nav-section{
    height: 100vh;
    width: 29.3%; 
    border: 1px solid orange ;
    
    
}

#nav-bar {
    position: fixed;
    border: 2px solid green;
    height: inherit;
    width: inherit; 
    padding-left: 33vh ;
  
}

#nav-heading{
    font-size: 18.3px ;
    letter-spacing: 2px;
    padding: 3vh 0 11.4vh 2.5vh ;
    font-weight: 10px ;
}


#banner {
    flex: 1 ;
    border: 1px solid red;
    display: inline-block;
    height: auto ;
    /* padding-left: 1.5vh ; */
   

}

#banner div{
  overflow: hidden;
}

.nav-content li {
    border: 1px solid white ; 
    font-family: "Roboto", sans-serif;
    list-style-type: none;

}

.navtop-section li{
    font-size: 12.9px;
    color: #757575 ;
    font-weight: bold;
    padding: 1vh 0 1.5vh 2.5vh;

}

.navbottom-section {
    margin: 7.5vh 0 0 0;
    font-size: 10.9px;

}

.navbottom-section li{
    padding: 1vh 0 1.3vh 2.5vh;
}

.nav-content li:hover {
    background-color: #ccc;
}

#skinny {
    background-color: #f1f1f1;
    color: black ;
}

.skinny-icon {
    margin-right: 1.5vh;
}

#dropdown-content {
    display: none;
    margin: 1.4vh 2vh 1.5vh 0;
}


#dropdown-content li {
  padding: unset;
  font-size: 10.9px;
  margin-left: 3vh ;
  padding: 1vh 0 1.2vh 2vh ;
}


#dropdown {
    color: black ;
   
}

#dropdown:hover + #dropdown-content{
    display: block;
    
}


.blank{
    border: 1px solid blue;
    position: fixed;
    height: 100vh;
    width: 16.4%;
    right: 0;
}

.header{
    border: 1px solid red;
    width: 113vh;
    height: 7vh; 
    margin-left: 1.5vh ;
    display: flex;
    justify-content: space-between;
}

.headerimg{
    border: 1px solid rgb(0, 255, 42);
    width: 113vh;
    height: 550px; 
    margin-left: 1.5vh ;
}

.jeanheader{
    border: 1px solid rgb(0, 55, 255);
    width: 113vh;
    height: 46px; 
    margin-left: 1.5vh ;
}

.jeanheaderp{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin: 14px;
    color: #757575;
}

.jeanimg{
    border: 1px solid rgb(255, 145, 0);
    width: 117.2vh;
    height: 600px; 
    display: flex-box;  
}

.row1,.row2 {
    border: 2px solid blue;
    width: 100%;
    height:50% ;
    display: flex;
    margin-left: 1vh ;
}

/* .row2 div {
    width:25% ;
    height: 100%;2
    border: 1px solid red;
}

.row1 div {
    width:25% ;
    height: 100%;
    border: 1px solid red;

} */

.jeans {
    width:25% ;
    height: 100%;
    border: 1px solid red;
    padding: 0 1.5vh 0 1.5vh ;
}

 .jeans img{
    width: 98%;
    height: 31vh ;
    filter: grayscale(0.8);
}

.jeans{
  font-size: 13.5px;
  font-family: "Montserrat", sans-serif;
} 

.jeansp{
    padding: 1.5vh 0vh 1vh 0;
} 

.subscription{
    border: 1px solid rgb(252, 2, 210);
    width: 117.2vh;
    height: 240.5px; 
    background-color: black; 
    color: white;  
    padding: 32px 16px;
}

.subh1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 10px 0px;
}

.subp{
    margin: 15px 0px;
}

.email-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.subscribe-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 18vh;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.subscribe-btn:hover {
    color: #000;
    background-color: #ccc;
}

.footerpt1{
    border: 1px solid rgb(95, 95, 95);
    width: 117.2vh;
    height: 52vh;  
    background-color: #f1f1f1;
    display:flex ;
    
}
.footerpt1 div {
    /* border: 1px solid red ; */
    width: 33.3% ;
    height: 100% ;
    padding: 0 1.5vh  ;
  

    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerpt1 h4 {
    
    font-size: 15px ;
    font-weight: lighter ;
    text-align: center;
    padding: 9vh 0 1.5vh 0;

}

.footerpt1 p {
    font-size: 9px ;
    font-weight: lighter;
    text-align: center;
}

#contact-form input[type="text"], input[type="email"] {
    margin-top: 1.5vh ;
    width: 100% ;
    height: 4.5vh ;
    font-size: 9px ;
    padding-left: 1vh;
    border: 1px solid lightgray;

}

#contact-form input[type="submit"]{

    margin-top: 1.5vh ;
    width: 100% ;
    height: 4vh ;
    font-size: 9px ;
    border:none;
    background-color: black;
    color: white ;

}

#contact-form input[type="submit"]:hover{

    background-color: #ccc;
    color: black ;
    cursor:grab ;

}

#about a {
    color: black ;
}

#about p, #store p {
    padding-bottom: 1.5vh;
}

#store h4,#store p {
    text-align: left;
}

#we-accept {
    padding-top: unset ;
    padding-top: 1.5vh ;
}

#store i {
    margin-right: 0.8vh ;
}

#footer-icons {
    font-size: 13px ;
    margin-top: 2vh;
   
}

#footer-icons i {
    margin: unset;
}

#footer-icons i:hover {
    opacity: 60%;
}

.footerpt2{
    border: 1px solid rgb(229, 255, 0);
    width: 117.2vh;
    height: 70px; 
    background-color: black; 
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px 24px 0px;
    line-height: 1.5;
}

.link:hover{
color: gray;
}

.link{
    color: white;
}